<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu_book</mat-icon>
    </button>
    <a routerLink="/" class="nav-heading">TestiFy</a>
    <span class="example-spacer"></span>
    <a
    *ngIf="!login.isLoggedIn()"
      [routerLink]="'/login'"
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <span class="nav-btn-title">Login</span>
      <mat-icon>login</mat-icon>
    </a>
    <a
    *ngIf="!login.isLoggedIn"
      [routerLink]="'/signup'"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <span class="nav-btn-title">Sign Up</span>
      <mat-icon>app_registration</mat-icon>
    </a>
    <a
    *ngIf="!login.isLoggedIn"
      [routerLink]="'/signup'"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <span class="nav-btn-title">LogOut</span>
    </a>

  </mat-toolbar>
</p>
