<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row login-row">
      <div class="col-md-6 offset-md-3">
        <mat-card>
        <div class="container text-center">
          <img class="signup-img" src="../../../assets/login.png " alt="" />
        </div>
        <h1 class="text-center">Login Here!!</h1>
        <form (ngSubmit)="formSubmit()" >
          <!-- {{loginData.username}}
          {{loginData.password}} -->
          <!-- UserName Field -->
          <mat-form-field class="full-width margin" appearance="outline">
            <mat-label>Username</mat-label>
            <input
            required
              matInput
              placeholder="Enter Username"
              name="username"
              [(ngModel)]="loginData.username"
              [ngModelOptions]="{ standalone: true }"
            />
            <mat-hint>Username should be valid</mat-hint>
          </mat-form-field>

          <!-- Password fiekd -->
          <mat-form-field class="full-width margin" appearance="outline">
            <mat-label>Password</mat-label>
            <input required type="password" matInput placeholder="Enter Password"
            name="password"
            autocomplete="current-password"
            [(ngModel)]="loginData.password"
            [ngModelOptions]="{ standalone: true }"
              />
          </mat-form-field>


          <div class="container text-center margin">
            <button type="submit" mat-raised-button color="primary">
              Login
            </button>
            <button type="reset" mat-raised-button color="accent" class="margin-left" >
              Clear
            </button>
          </div>
        </form>
      </mat-card>
      </div>

    </div>
  </div>
</div>
