.example-header-image
{
  background-image: url(../../../../assets/exam.png);
  background-size: cover;
}

.center
{
  margin: 2%;
  justify-content: center;
}

.btn{
  margin-left: 1%;
}

.active{
background-color: rgb(102, 235, 102);
}
.aactive{
background-color: rgb(246, 189, 189);
}
