<mat-card>
  <h1 class="text-center">Add New Category</h1>

  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="w100" appearance="outline">
              <mat-label> Title </mat-label>
              <input
                autofocus
                type="text"
                name="title"
                required
                matInput
                placeholder="Enter the title"
                [(ngModel)]="category.title"
                [ngModelOptions]="{ standalone: true }"
              />
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label> Description for Category </mat-label>
              <textarea
                name="description"
                required
                matInput
                placeholder="Enter category description"
                rows="8"
                [(ngModel)]="category.description"
                [ngModelOptions]="{ standalone: true }"
              ></textarea>
            </mat-form-field>
            <div class="container text-center">
              <button mat-raised-button color="primary">Add Category</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
